<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MinhaConexaoBD"
             connectionString="datasource=srv1067.hstgr.io;username=u551083917_FiscoTask;password=Fisconorte6027;database=u551083917_Fiscotask"
             providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>